extends _layout

append head
  link(rel='stylesheet', type='text/css', href='css/app.css')

block body
  body(no-js='', on-click-remove-class='.dropdown active')
    .container_fluid.app
      .appBody
        .chat-list
          .header.d-flex
            img.settings(src='img/settings.svg', no-js='', on-mouseenter-add-class='.dropdown-menu active')
            .dropdown-menu(no-js='', on-mouseleave-remove-class='.dropdown-menu active')
              #seen-flagger.dropdown-item(title="You'd know when recipients read your message, but they won't know when you read theirs")
                | Don't send 'Seen' receipts
              #notifier-settings.dropdown-item
                | Disable Notifications
              #unfollowers.dropdown-item Users not following back
              #logout.dropdown-item Log out
            input.form-control(type='text', name='search', placeholder='搜尋')
            .header-right
          .listStrapper
            ul
        .chat
          .chat-title
            .title-left
            img.info(src='img/info.svg')
          .messages
            .center.cover
              img(src='img/icon.png', width='300px')
              p.italic Search and select a chat to start.
          .messageBox
            form
              textarea(id="messageText" rows="1")
            img.send-attachment(src='img/image.svg', width='24px')
            input.file-input.hide(type='file', accept='image/jpeg,image/jpg')
            img.open-emoji(src='img/emoji.svg', width='24px', no-js='', on-click-toggle-class='.emojis hide')
            .emojis.hide
              .emojis-header
              .emojis-body
      .viewer
        button.close(no-js='', on-click-remove-class='.viewer active')
          img(width='25px', src='img/close.png', alt='close icon')
        .content
  script(type='text/javascript', src='../node_modules/nojs/dist/no.min.js')
  script(type='text/javascript', src='js/globals.js')
  script(type='text/javascript', src='js/emoji.js')
  script(type='text/javascript', src='js/carousel.js')
  script(type='text/javascript', src='js/funcs.js')
  script(type='text/javascript', src='js/renderers.js')
  script(type='text/javascript', src='js/index.js')
